## 판다스 기초

In [1]:
import numpy as np
import pandas as pd

pd.__version__

'2.2.3'

In [5]:
s = pd.Series([1, 3.0, '가', True, np.nan], index=[1, '삼', 5, 7, 9])
print(s, s['삼'])

1       1
삼     3.0
5       가
7    True
9     NaN
dtype: object 3.0

In [6]:
df = pd.DataFrame([1, 3.0, '가', True, np.nan], 
                  index=[1, '삼', 5, 7, 9],
                  columns=['A'])
df

      A
1     1
삼   3.0
5     가
7  True
9   NaN

## Series (1차원)

In [9]:
s = pd.Series([1, 2, 3, 4, 5])
print(s.index, s.values, type(s.values))

RangeIndex(start=0, stop=5, step=1) [1 2 3 4 5] <class 'numpy.ndarray'>

In [11]:
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

s = pd.Series([1, 2, 3, 4, 5], index=[s for s in 'abcde'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
dc = {'e': 5, 'b': 2, 'a': 1, 'd': 4, 'c': 3}
s = pd.Series(dc)
s

e    5
b    2
a    1
d    4
c    3
dtype: int64

In [13]:
s = pd.Series(dc, index=['c', 'b', 'z', 'a'])
s

c    3.0
b    2.0
z    NaN
a    1.0
dtype: float64

In [14]:
s = pd.Series(1, index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    1
c    1
d    1
e    1
dtype: int64