In [19]:
import numpy as np
import pandas as pd

### 생성

In [20]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
display(df)
print(df.info())

   0  1  2
0  1  2  3
1  4  5  6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      int64
 1   1       2 non-null      int64
 2   2       2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes
None

In [21]:
print(df.index)
print(df.columns)
print(df.values, type(df.values))

RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=3, step=1)
[[1 2 3]
 [4 5 6]] <class 'numpy.ndarray'>

In [22]:
df.isin([3])

       0      1      2
0  False  False   True
1  False  False  False

In [23]:
np.any(df.isin([3]))

True

In [24]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [3, 4, 5],
    'C': [5, 6, 7]
}, index = ['2024-01-01', '2024-01-02', '2024-01-03'])
df

            A  B  C
2024-01-01  1  3  5
2024-01-02  2  4  6
2024-01-03  3  5  7

In [25]:
df.index.name ='일자'
df.columns.name = '라벨'
df

라벨          A  B  C
일자
2024-01-01  1  3  5
2024-01-02  2  4  6
2024-01-03  3  5  7

In [32]:
# 데이터프레임은 '열'부터 지정
df['A']['2024-01-01']
# df['A']['20240101']  (문자 정확히 일치해야 함)

KeyError: '20240101'

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 2024-01-01 to 2024-01-03
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [28]:
# 시계열 인덱스

df1 = pd.DataFrame([[10, 20, 30], [40, 50, 60], [70, 80, 90]],
                  columns = list('ABC'),
                  index=pd.date_range(start='2024-01-01', periods=3))
df1

             A   B   C
2024-01-01  10  20  30
2024-01-02  40  50  60
2024-01-03  70  80  90

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2024-01-01 to 2024-01-03
Freq: D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0 bytes

In [31]:
df1['A']['20240101']   # 시계열 인덱스이기 때문에 문자열 일치 안해도 괜찮음
df1['A']['01/01/2024']

10

In [34]:
df2 = pd.DataFrame([[10, 20, 30, 100], [40, 50, 60, 110], [70, 80, 90, 120]],
                  columns = list('ABCD'),
                  index=pd.date_range(start='2024-01-01', periods=3))
df2

             A   B   C    D
2024-01-01  10  20  30  100
2024-01-02  40  50  60  110
2024-01-03  70  80  90  120

In [35]:
df2.A

2024-01-01    10
2024-01-02    40
2024-01-03    70
Freq: D, Name: A, dtype: int64

In [36]:
s = df[['A', 'B']]
s

라벨          A  B
일자
2024-01-01  1  3
2024-01-02  2  4
2024-01-03  3  5

In [37]:
#행선택 (슬라이싱)
df3 = df2[0:2]
display(df3, type(df3))

             A   B   C    D
2024-01-01  10  20  30  100
2024-01-02  40  50  60  110

pandas.core.frame.DataFrame

In [38]:
df3 = df2[:'20240101']
display(df3)

             A   B   C    D
2024-01-01  10  20  30  100

In [40]:
df3 = df2[:'20240102']
display(df3)

df3 = df2['20240101':'20240102']
display(df3)

df3 = df2['20240101':]
display(df3)

             A   B   C    D
2024-01-01  10  20  30  100
2024-01-02  40  50  60  110

             A   B   C    D
2024-01-01  10  20  30  100
2024-01-02  40  50  60  110

             A   B   C    D
2024-01-01  10  20  30  100
2024-01-02  40  50  60  110
2024-01-03  70  80  90  120

In [43]:
# 행과 열 선택
df3 = df2['A']['20240101']
display(df3)

df3 = df2['A'][0]
display(df3)

df3 = df2[['A', 'B']]['20240101':'20240103']
display(df3)

10

C:\Users\My\AppData\Local\Temp\ipykernel_8048\4054447756.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df3 = df2['A'][0]

10

             A   B
2024-01-01  10  20
2024-01-02  40  50
2024-01-03  70  80

In [48]:
# loc
df3 = df2.loc['20240101']
display(df3)

df3 = df2.loc[:, 'A']
display(df3)

df3 = df2.loc['20240101':'20240103']
display(df3)

df3 = df2.loc['20240101':'20240103', 'A':'C']
display(df3)

df3 = df2.loc['20240101'::2, :'C']
display(df3)

A     10
B     20
C     30
D    100
Name: 2024-01-01 00:00:00, dtype: int64

2024-01-01    10
2024-01-02    40
2024-01-03    70
Freq: D, Name: A, dtype: int64

             A   B   C    D
2024-01-01  10  20  30  100
2024-01-02  40  50  60  110
2024-01-03  70  80  90  120

             A   B   C
2024-01-01  10  20  30
2024-01-02  40  50  60
2024-01-03  70  80  90

             A   B   C
2024-01-01  10  20  30
2024-01-03  70  80  90